/* Online-booking форма*/

.form-area {
  display: flex;
  flex-direction: column;
  gap: 44px;
  @media screen and (min-width: 1600px) {
    width: 540px;
  }
}

.field-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: transparent;
  color: var(--box-bg-color);

  transition: border-color var(--trans), color var(--trans);
  &:hover,
  &:focus {
    border-color: var(--main-light-color);
    color: var(--main-light-color);
  }
  &::placeholder {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.4);
    transition: color var(--trans);
  }

  &:hover::placeholder,
  &:focus::placeholder {
    color: var(--main-light-color);
  }

}

.field-input + .field-input::placeholder :hover,
.field-input + .field-input::placeholder:focus {
  color: var(--main-light-color);
}

.wrap-contact {
  display: flex;
  flex-direction: column;
  gap: 44px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 30px;
  }

}
.online-input {
  height: 24px;
  font-size: var(--main-font-size);
   @media screen and (min-width: 768px) {
    width: 330px;
  } 
  @media screen and (min-width: 1600px) {
    width: 270px;
  } 
}

.online-text {
  min-height: 76px;
  resize: none;
}

.button-online {
  width: 160px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    margin-left: 0px;
  } 
}
