// about

.secondary-title-about {
  font-family: "Raleway", sans-serif;
  color: var(--main-dark-color);
  margin-bottom: 20px;
  max-width: 306px;
  font: size 5.8vw;
  @media screen and (min-width: 480px) {
    @include font(28px, 1.18, 0.05em);
  }
  @media screen and (min-width: 480px) {
    max-width: 330px;
  }
  @media screen and (min-width: 1600px) {
    @include font(42px, 1.16, 0.05em);
    max-width: 470px;
  }
}

// prices
