body {
  font-family: "Open Sans", sans-serif;
  font-size: var(--main-font-size);
  background-color: #ffffff;
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.button {
  cursor: pointer;
}
