:root {
  --main-font-size: 11px;
  --secondary-font-size: 14px;
  --prices-font-size-tablet:18px;
  --font-size-header: 12px;
  --main-dark-color: #303030;
  --main-light-color: #ffffff;
  --main-text-color: #9da4bd;
  --color-text-about: #555555;
  --color-text-form: #757575;
  --accent-color: #ff6c00;
  --box-bg-color: #f7f7f7;

  --trans: 250ms linear;
}
