/*--section-about--*/

.section-about {
  background-color: var(--main-light-color);
}

.box-about {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 30px;
  }
}

.about-box-text{
 position: relative;
}

.wrap-photo{
  @media screen and (min-width: 768px) {
    width: 330px;
    height: 235px;
  }
}


.menu-about {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;

    flex-direction: column;
    gap: 30px;
  }
  @media screen and (min-width: 1600px) {
    flex-direction: row;
  }
}

.about-item {
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}


.about {
  color: var(--main-dark-color);
  @media screen and (min-width: 768px) {
    max-width: 306px;
  }
  @media screen and (min-width: 1600px) {
    max-width: 740px;
  }
}

.text-about-midlle {
  margin-bottom: 20px;
  color: var(--color-text-about);
  font-size: 3.3vw;
  @media screen and (min-width: 480px) {
    @include font(16px, 1.62, 0.02em);
  }
  @media screen and (min-width: 768px) {
    @include font(18px, 1.67, 0.02em);
    max-width: 330px;
  }
  @media screen and (min-width: 1600px) {
    max-width: 470px;
  }
}

.text-about-bottom {
  font-size: 3vw;
  margin-bottom: 40px;
  color: var(--color-text-about);

  @media screen and (min-width: 480px) {
    @include font(var(--secondary-font-size), 1.86, 0.02em);
  }
  @media screen and (min-width: 768px) {
   margin-bottom: 0;
   max-width: 330px;
  }
  @media screen and (min-width: 1600px) {
    max-width: 470px;
  }
}

.btn-second {
  color: var(--main-dark-color);
  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 0px;
    left: 0px;
   }
 
}

