/*--header--*/

header {
  position: absolute;
  width: 100%;
  padding-top: 40px;
  z-index: 3;

  @media screen and (min-width: 768px) {
    padding-bottom: 32px;
  }
}

.container-box {
  align-items: center;

  z-index: 3;
  @media screen and (max-width: 767.5px) {
    display: flex;
    // position: relative;
    justify-content: space-between;
  }
  // @media screen and (min-width: 768px) {
  // position: absolute;
  // right: inherit;
  // margin-right: 0px;
  // }
}

.navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  padding: 40px 60px 0 0;

  width: 100%;
  @media screen and (min-width: 768px) {
    padding-top: 0;
    align-items: center;
    justify-content: right;
    gap: 45px;
  }
  @media screen and (min-width: 1200px) {
    // justify-content: center;
    gap: 254px;

    margin-left: auto;
  }
}

.menu-header {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 20px;
  }
  @media screen and (min-width: 1200px) {
    gap: 30px;
  }
}
.logo {
  display: block;
}

// @media screen and (max-width: 1999.5px) {
//   // position: absolute;
//   z-index: 2;
//   top: 30px;
//   left: 30px;
// }

// @media screen and (min-width: 768px) {
//   // margin-right: 131px;
// }
// }

.logo-svg {
  fill: var(--main-light-color);
  @media screen and (min-width: 768px) {
    fill: var(--main-dark-color);
  }
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.header-link {
  font-weight: 600;
  font-size: var(--font-size-header);
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--main-light-color);

  padding-top: 52px;

  transition: color var(--trans);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.box-header {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.number-phone {
  font-weight: 600;
  font-size: var(--font-size-header);
  line-height: 1.33;
  letter-spacing: 0.1em;
  padding: 12px;

  color: var(--main-light-color);

  transition: color var(--trans);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    margin-right: 43px;
  }
}

.btn-menu-mobile {
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  // position: absolute;
  // top: 40px;
  // right: 40px;
  // z-index: 2;
  margin-left: auto;

  background-image: url(../images/menu-btn.svg);
  background-size: cover;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
