/*--section-our-barbers--*/

.section-barbers {
  background-color: #e5e5e5;
}

.t-barbers{
  font-size: 42px;
  margin-bottom: 44px;
}

.menu-barbers {
  display: flex;
  flex-direction: column;
  gap: 64px;
  @media screen and (min-width: 768px)  {
    align-items: center;
  }
  @media screen and (min-width: 1600px) {
    flex-direction: row;
    gap: 30px;
  }
}

.barbers-item {
  @media screen and (min-width: 1600px) {
    width: calc((100% - 60px) / 3);
  }
}

.description {
  padding-top: 30px;
}

.name-title {
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;

  color: var(--main-dark-color);
}

.text-barb {
  font-size: var(--secondary-font-size);
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 30px;

  color: var(--accent-color);
}

.menu-barb-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc-barb-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: var(--main-light-color);
}

.soc-icon {
  fill: var(--main-dark-color);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
