/*--section-result--*/
.section-result{
  @media screen and (max-width: 767.5px) {
    height: 786px;
    }
    @media screen and (max-width: 1599.5px) {
      height: 740px;
    }
    @media screen and (min-width: 1600px) {
      height: 570px;
    }
}

.box-result {
  display: flex;
  gap: 44px;
  flex-direction: column-reverse;
  @media screen and (min-width: 1600px) {
    flex-direction: row;
    gap: 130px;
    }
}

.menu-resalt {
  position: relative;
  @media screen and (min-width: 768px) {
   width: 450px;
   margin-left: 240px;
  }
  @media screen and (min-width: 1600px) {
    margin-left: 70px;
    width: 370px;
    }
}


.result-item {
  position: relative;
  width: 193px;
  height: 133px;
 
  background-color: #f7f7f7;
  @media screen and (min-width: 768px) {
    width: 210px;
   }
  @media screen and (min-width: 1600px) {
    width: 170px;
    }
}
.num-one{
  position: absolute;
  top: 0px;
  left: 0px;
}

.num-two{
  position: absolute;
  top: 35px;
  right: 0px;
}
.num-three{
  position: absolute;
  top: 165px;
  left: 0px;
}
.num-four{
  position: absolute;
  top: 198px;
  right: 0px;
}

.box-text-result{
  @media screen and (min-width: 1600px) {
  display: flex;
  flex-direction: column;
  }
}

.box-contant {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.numeric {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  letter-spacing: 0.05em;
  margin-bottom: 6px;

  color: var(--main-dark-color);
  &::after {
    content: "";
    width: 13px;
    height: 22px;
    display: block;
    background-image: url(../images/plus.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

// .num-margin{
//   margin-top: 36px;
// }

.add {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  min-width: 122px;
  display: flex;

  color: var(--main-dark-color);
}

// .text-result {
//   margin-top: 9px;
// }

.t-result {
  margin-bottom: 20px;
  // max-width: 430px;
  font-size: 42px;
}

.text-bottom {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  max-width: 500px;

  color: var(--color-text-about);
}
